[submodule "themes/hugo-tracks-theme"]
	path = themes/hugo-tracks-theme
	url = https://github.com/ageekymonk/hugo-tracks-theme.git
[submodule "loveatfirstride.github.io"]
	path = loveatfirstride.github.io
	url = git@github.com:loveatfirstride/loveatfirstride.github.io.git
